@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.User.Name</h1>
</div>
        
<div class="intro">
    <h1>Bem-vindo ao mundo da NBA</h1>
    <p>Explore o emocionante universo do basquete profissional da NBA. Descubra estatísticas, destaques de jogos, notícias, e muito mais.</p>
    <a href="#">Saiba mais</a>
</div>

<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Notícias!</div>
  <div class="card-body">
    <p class="card-text">Atual melhor jogador da história da NBA, acabou de alcançar o primeiro lugar em pontos totais na história do basquete!</p>
  </div>
</div>
