<h4>e-mail de contato para relatar problemas: contactusproblems@gmail.com </h4>
<h4>e-mail de contato para dúvidas: contactusquestions@gmail.com </h4>
<h4>Números de contato: 11 99999-88888 </h4>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Your Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Which one of our e-mails do you wanna contact?</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Insert your message!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

